._bg {
    background: #d4d4d4;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.enterLine {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.enterLine p {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}

.container {
    width: 1210px;
    margin: 0;
}