._bg {
    background: #F5F5F5;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.enterLine {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1210px;
    margin: 0;
}